﻿@inherits PortableRazor.ViewBase

<div data-role="header" style="overflow:hidden;" data-position="fixed">
	@Html.ActionLink("Back", "Index", "Politician", null, new { 
		@class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all",
		data_icon = "arrow-l", 
		data_role="button", 
		data_mini="true", 
		data_inline="true", 
		data_transition="slide"})
    <h1>@ViewBag.Model.FirstName @ViewBag.Model.LastName</h1>
</div>
		
<div style="margin-left:10px" data-mini="true" data-inset="false">
	<h4>@ViewBag.Model.FirstName @ViewBag.Model.LastName - @ViewBag.Model.Party @ViewBag.Model.State</h4>
    <p><img src="images/loader.gif" data-src="@Url.Content(ViewBag.Model.ImageName)" /></p>
    <p>@ViewBag.Model.Phone</p>
    <p>@ViewBag.Model.OfficeAddress</p>
</div>

<div style="margin-left:10px; margin-right:10px" data-role="collapsible" data-mini="true" data-collapsed="false" data-inset="false">
	<h4>More Info</h4>
	<ul data-role="listview" data-inset="false">
		<li>@Html.ActionLink("Recent Votes", "ShowRecentBillList", "Bill", new { politicianid = @ViewBag.Model.Id })</li>
	</ul> 
</div>
