﻿@inherits PortableRazor.ViewBase

<div data-role="header" style="overflow:hidden;" data-position="fixed">
    <h1>Congress</h1>
</div>
<ul data-role="listview" data-inset="true" data-filter-placeholder="Search Congress..." data-filter="true">
	@foreach(var p in ViewBag.Model) {
		<li>
			<a href="@Url.Action("Details", "Politician", new {id = p.Id })">
				<img src="images/loader.gif" data-src="@Url.Content(p.ImageName)"/>
    			<h2>@Html.Label($"{p.FirstName} {p.LastName}")</h2>
                <p>@Html.Label($"{p.Party} {p.State}")</p>
			</a>
		</li>
	}
</ul>
<div data-role="footer" data-id="foo1" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="@Url.Action("Index", "Politician")">Politicians</a></li>
			<li><a href="@Url.Action("Index", "Bill")">Bills</a></li>
		</ul>
	</div>
</div>