﻿@inherits PortableRazor.ViewBase
<!DOCTYPE html>
<html>
@inherits PortableRazor.LayoutBase

@{
/*
    This is a typical default Layout. If you just have one, place it into <Assembly>.Views namespace.
    The name '_Layout' is important since this is default value passed to the controller's constructors.
    The leading underscore '_' is used to mark .cshtml that can not be displayed directly.
    You can use different Layouts, too:
        - You can pass a default layout name to a controller's constructor to set the layout on a per controller level.
        - You can also pass the layout name to View(...)-method of a controller to set the layout on a per view level.
        Attention:  The name of the layout is relative to the <Assembly>.Views namespace.
                    For a layout file '<Assembly>.Views.Home._MyHomeLayout' the correct name to pass would be 'Home._MyHomeLayout'.
                    The used layout doesn't have to be in the same namespace as the controller or it's views. You are free to organize them.
*/
}

<head>
	<meta content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.4.0.min.css" />
    <script rel="javascript" type="text/javascript" src="scripts/jquery-1.10.2.min.js"></script>
    <script rel="javascript" type="text/javascript" src="scripts/jquery.mobile-1.4.0.min.js"></script>
    <script rel="javascript" type="text/javascript" src="scripts/jquery.lazyloadxt.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>