﻿@inherits PortableRazor.ViewBase

<style>
	iframe {
		min-width: 100%; 
		width: 100px;
		*width: 100%; 
	}
	h4 { text-align: center }
</style>
<div data-role="header" style="overflow:hidden;" data-position="fixed">
    <h1>Bill Details</h1>
</div>

<div data-role="header" style="overflow:hidden;" data-position="fixed">
	@Html.ActionLink("Back", "Index", "Bill", null, new { 
		@class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all",
		data_icon = "arrow-l", 
		data_role="button", 
		data_mini="true", 
		data_inline="true", 
		data_transition="slide"})
    <h1>Bill Details</h1>
    @Html.ActionLink("Delete", "RemoveFavoriteBill", "Bill", new {id = @ViewBag.Model.Id}, new { 
		@class="ui-btn-right ui-btn ui-btn-icon-notext ui-shadow ui-corner-all",
		data_role="button", 
		data_mini="true", 
		data_inline="true"})
</div>	
		
<div style="margin-left:10px" data-mini="true" data-inset="false">
	<p>@ViewBag.Model.Title</p>
</div>
		
@using(@Html.BeginForm("SaveNotes", "Bill", new {id = @ViewBag.Model.Id, notes = @ViewBag.Model.Notes}))
{
	<h4>Notes</h4>
	@Html.Hidden("id", @ViewBag.Model.Id)
	@Html.TextArea("notes", @ViewBag.Model.Notes)
	<input type="submit" value="Save Notes" />
}

<iframe scrolling="no" src="@ViewBag.Model.ThomasLink"></iframe>