﻿@inherits PortableRazor.ViewBase

<div data-role="header" style="overflow:hidden;" data-position="fixed">
    <h1>Favorite Bills</h1>
</div>

<ul data-role="listview" data-inset="true">
	@foreach(var bill in ViewBag.Model) {
		<li>
	    	<a href="@Url.Action("Details", "Bill", new {id = bill.Id })">@bill.Title</a>
		</li>
	}
</ul>
<div data-role="footer" data-id="foo1" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="@Url.Action("Index", "Politician")">Politicians</a></li>
			<li><a href="@Url.Action("Index", "Bill")">Bills</a></li>
		</ul>
	</div>
</div>