﻿@inherits PortableRazor.ViewBase

<div data-role="header" style="overflow:hidden;" data-position="fixed">
	@Html.ActionLink("Back", "Details", "Politician", new { id = @ViewBag.Model.Id}, new {
    @class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all",
    data_icon = "arrow-l",
    data_role="button",
    data_mini="true",
    data_inline="true",
    data_transition="slide"})
    <h1>Recent Votes</h1>
</div>		

<ul data-role="listview" data-inset="true">
	@foreach(var vote in ViewBag.Model.Votes) {
		<li>
			<a href="@Url.Action("Details", "Bill" , new {id = vote.RelatedBillId, politicianid = @ViewBag.Model.Id })">
	    		<h4>@vote.Question</h4><p>@vote.Value</p>
			</a>
		</li>
	}
</ul>